::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(190deg, black, rgb(32, 194, 0));
}


#teams_tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#teams_tbl td{
    border: 1px solid #ddd;
    padding: 8px;
    color: #ddd;
}
  
#teams_tbl td:nth-child(even){background-color: #555555;}
  
#teams_tbl td:hover {background-color: rgb(0, 0, 0);}
  
#teams_tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.header {
    /*background-color: #f1f1f1;*/
    padding: 10px;
    text-align: center;

}

.topnav {
    position: sticky;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: rgb(32, 194, 0);
}

.button {
    display: inline-block;
    border-radius: 4px;
    width: 150px;
    background-color: #00000000;
    border: none;
    color: #FFFFFF;
    border: 4px solid #8a8a8abe;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(190, 0, 0, 0.856);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


h1 {
    font: 55px "Lato", sans-serif;
    text-align: center;
    color: rgb(32, 194, 0);
}

/*.content1 {
    grid-area: c1;
    padding: 5px;
    background-color: rgb(202, 0, 0);
    float: left;
    width: 50%;
    border-radius: 10px;
    overflow: auto;
}*/



.grid-container {
    /*grid-template-areas:
        'c1 c1 c1 c2 c2 c2'
        'c1 c1 c1 c2 c2 c2'
        'c3 c3 c5 c6 c6 c6';*/
    grid-gap: 10px;
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}